<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/mongodb-3629612-3032310.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Employees</title>    
</head>
<body>
    <%- include("template/navbar") %>
    <div class="container mt-3">
      <h1>Employees</h1>
      <% if (empty == true) { %>
        <p>Empty emplooyes</p>
      <% } else { %>
      <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">firstName</th>
                <th scope="col">lastName</th>
                <th scope="col">email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                    <% arrayEmployeesDB.forEach(employee => { %>
                       <tr>
                           <td scope="row"><%= employee.firstName %></td>
                           <td><%= employee.lastName %></td>
                           <td><%= employee.email %></td>
                           <td><a href="/employees/<%= employee.id %>" class="btn btn-primary btn-sm">Edit</a></td>
                           <td><button class="btn btn-danger btn-sm" id="bbtnEliminar" data-id="<%= employee.id %>">Delete</button></td>
                        </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <% } %>
          <button class="btn btn-success ml-1 mt-3" data-toggle="modal" data-target="#one">New Employee</button>
          <div class="modal fade" id="one">
            <div class="modal-dialog">
              <div class="modal-content w-85">
                <div class="modal-header">
                  <h3 class="mt-4" style="font-family:sans-serif;">New Employee</h3>
                </div>
                <div class="modal-body">
                  <form action="/employees" method="POST">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" class="form-control mb-3" required name="firstName">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" class="form-control mb-3" required name="lastName">
                    <label>E-mail</label>
                    <input type="email" placeholder="employee@example.com" class="form-control mb-3" required name="email">
                    <button class="btn btn-success w-100" type="submit">Add</button>
                </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger w-100" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>

    <script>
      const bbtnEliminar = document.querySelector('#bbtnEliminar');
    bbtnEliminar.addEventListener('click', async() => {
        console.log('ola');
        const id = bbtnEliminar.dataset.id;
        try {
          const data = await fetch(`/employees/${id}`, {
            method: 'delete'
        })
          const res = await data.json();
          if(res.estado){
            window.location.href = '/employees'
          } else {
            console.log(res)
          }
        } catch (error) {
          console.log(error)
        }
    })
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>